<div class="header">
  <div class="l-container">
    <span class="logo">Barbara Cortez</span>
    <span class="script-font">Full Stack Developer</span>
  </div>

  <div class="r-container">
    <div class="flag-container">
      <img
        src="../../../assets/img/spanish.png"
        alt="spanish"
        class="pointer flag margin-24"
      />
      <img class="pointer flag"src="../../../assets/img/english.png" alt="english" />
    </div>
    <div class="nav-container">
      <a class="margin-r-32 active-link pointer link" id="section-1">HOME</a>
      <a class="margin-r-32 pointer link" id="section-2">CURRICULUM VITAE</a>
      <a class="pointer link" id="section-3">PORTFOLIO</a>
    </div>
    <app-principal-button [buttonLabel]="'Contacto'"></app-principal-button>
  </div>
</div>

