.principal-container {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/mendoza-bg.jpg);
}

img {
  width: 200px;
  margin: 0px auto;
  margin-top: 128px;
}

.photo-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Bebas Neue", cursive;
}
.p-body {
  color: #fff;
  text-align: center;
  padding: 0px 96px;
}

.tags-container {
  padding: 56px 96px;
  display: flex;
  justify-content: space-around;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.second-section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, #1d2532 3.06%, rgba(29, 37, 50, 0.9) 100%);
  padding: 0px 96px;
  box-sizing: border-box;
}

.title {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 32px 0;
  font-size: 32px;
  text-transform: uppercase;
}

.box {
  border: 1px solid #23d2b6;
  padding: 16px;
  color: #fff;
  margin-bottom: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.box-container {
  width: 48%;
}

.description {
  font-family: "Roboto", sans-serif;
  text-align: justify; 
  font-size: 14px;
}

.box-title{
  font-family: "Roboto", sans-serif;
  text-transform: capitalize; 
}

.cursos-description{
  display:flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.down-load{
  color: #23D2B6;
  cursor: pointer;

}