<div class="principal-container">
  <app-header></app-header>
  <div class="photo-container">
    <img src="../assets/img/photo.png" />
  </div>
  <div class="p-body">
    <div><app-root></app-root></div>
    <h4 class="title">Acerca de mí</h4>
    <p>
      Estudiante de desarrollo de software, con una gran iniciativa en seguir
      aprendiendo. Responsable en todas las actividades que inicio, emprendedora
      y autodidacta. Una frase que me representa es “ No limites tus retos, reta
      tus límites”. Empecé el curso de Argentina Programa el año pasado, y estoy
      con un gran entusiasmo por poder conseguir mi primer empleo IT, donde
      pueda seguir desarrollando habilidades y asimilando nuevos conceptos.
    </p>
  </div>
</div>
