.principal-container {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/mendoza-bg.jpg);
}

img {
  width: 200px;
  margin: 0px auto;
}

.photo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 56px;
}
.title {
  font-weight: bold;
  text-transform: uppercase;
}
.p-body {
  color: #fff;
  text-align: center;
  padding: 0px 96px;
}

.tags-container {
  padding: 56px 96px;
  display: flex;
  justify-content: space-around;
}
